
<nav class=" ml-3 navbar-default navbar-fixed-topnavbar navbar-expand-lg navbar-light animated fadeInUpBig delay-1.2s">
    <a style="color: white;" href="#" class=" ml-3">----------------</a>
 
  <body>
    <!-- CSS OF Slider -->
  <!-- CSS OF Slider -->
    <style>     
        .slider{
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 14px;
            color: rgba(0, 0 ,0,0.59); 
          }
          .swiper-container {
            width: 100%;
            padding-bottom: 50px;
            margin-right: 1%;
          }
          .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 300px;
            height: 440px;
            background: whitesmoke;
          }
          .slider h3, .heading-2, b{
              color: black;
          }
          .slider .heading-2{
            margin-top: 4%;
            font-size: 39px;
        }
        .slider .para-2{
            width: 60%;
            margin-left: 20%;
            margin-bottom: 2%;
        }
        .center{
            margin-left: 100px;
        }
                </style>
<!-- Slider -->
<div class="slider text-center">
        <h2 class="heading-2">Kashmir-Heaven On Earth </h2>                
        <p class="para">
                Azad Kashmir is a globally recognized heaven. It is all due to the vibrant green valleys that compel you to never bat your eyes once you catch sight of it. It is a place of waterways, abundant lakes and a wildlife adventure to experience. 
        </p> 
<div class="container row justify-content-center text-center py-2">
         
<div id="carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img  class="center d-block w-85" src="/assets/img/akv1.jpg" alt="First slide">
        <div class="carousel-caption">
            <h5>NEELUM VALLEY</h5>
            <p> This one is for sure. You will find blue waters and greenery, as stunning as anything. This is God’s magnificent gift to mankind, fortunately, located in Azad Kashmir. </p>
          </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-85" src="/assets/img/akv2.jpg" alt="Second slide">
        <div class="carousel-caption d-none d-md-block">
            <h5>RAWALAKOT</h5>
            <p> A famous town in Azad Kashmir which is also known to be a district headquarter of Poonch. An alluring valley amid high hills, located about 80 kilometers away from Islamabad and Rawalpindi. </p>
          </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-85" src="/assets/img/akv3.jpg" alt="Third slide">
        <div class="carousel-caption d-none d-md-block">
            <h5>JHELUM VALLEY</h5>
            <p> A natural wonder that people seem to find is the curling river passing from East to West amid the gigantic mountains. A region called, “Leepa Valley” in Jhelum </p>
          </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-85" src="/assets/img/akv4.jpg" alt="Fourth slide">
        <div class="carousel-caption d-none d-md-block">
            <h5>RAMKOT FORT</h5>
            <p>This astonishing land comes on an ascending, bordered by River Jehlum, this tourist attraction in Azad Kashmir is asking for your cameras. Not really a stronghold anymore, Ramkot Fort  </p>
          </div>
      </div>
      <div class="carousel-item">
            <img class="d-block w-85" src="/assets/img/akv5.jpg" alt="Fourth slide">
            <div class="carousel-caption d-none d-md-block">
                <h5>LEEPA VALLEY</h5>
                <p>The Leepa Valley definitely uplifts the value of Azad Kashmir as one of the top tourist attractions in Pakistan. </p>
              </div>
          </div>
    </div>
  </div>
</div>
</div>
<!--Kashmir Hotels -->
<div class="packages">
    <div class="container text-center">
<h2 class="heading-2">Hotels in Kashmir</h2>                
<p class="para">
    Every hotel represents a world of its own. Fresh towels, crisp linen and a comfortable atmosphere. Who would mind living in a place better than home?
</p>
<div class="row justify-content-center text-center">
<div class="col-md-4">
   <div class=" center card" style="width: 20rem;">
   <img  src="/assets/img/akh1.jpg" alt="Image1" class="card-img-top">
   <div class="card-body">
       <h4 class="card-title">New Royal Hotel </h4>
       <p class="card-text">4 Stars – HELLO Tourism <br>
            Deluxe Rooms – Starting from PKR 10,000 to 15,000 <br>
            Limited facilities available. Located in the heart of the city.
             </p>                    
   </div>
   </div>
</div>

<div class="col-md-4">
    <div class=" center card" style="width: 20rem;">
    <img src="/assets/img/akh2.jpg" alt="Image1" class="card-img-top">
    <div class="card-body">
        <h4 class="card-title">Pearl Continental Hotel </h4>
        <p class="card-text">4 Stars by HELLO Tourism<br>
                24 hour room service, health club, coffee shop, rent a car and many other facilities. <br>
                Starting from PKR 9,000 to 18,000.
              </p>                    
    </div>
    </div>
</div>

<div class="col-md-4">
        <div class="card center" style="width: 20rem;">
        <img src="/assets/img/akh3.jpg" alt="Image1" class="card-img-top">
        <div class="card-body">
            <h4 class="card-title">Mirpur Apartments</h4>
            <p class="card-text">4 Stars by HELLO Tourism <br>
                    Golf Course, 6 restaurants, go Carting, water sports, sauna, water park.<br>
                    Price ranging from PKR 8,000 to 15,000<br>
                    Location: Far from the main city
                  </p>                    
        </div>
        </div>
    </div>
</div>
    </div>
</div>
<!-- Kashmir Parks -->
<div class="packages">
    <div class="container text-center">
<h2 class="heading-2"> Kashmir Parks</h2> 
<p class="para">
    Kashmir striking sceneries, fecund gardens and plentiful parks, ensure its dwellers and visitors are never far from the nature. Hiking, Biking, Boat rides, Bird Watching, Hill climbing, morning/evening walks are some of the options to discover Kashmir nature 
</p>               

<div class="row justify-content-center text-center">
<div class="col-md-4">
   <div class="center card" style="width: 20rem;">
   <img src="/assets/img/akp1.jpg" alt="Image1" class="card-img-top">
   <div class="card-body">
       <h4 class="card-title">Ratti Gali Lake</h4>
       <p class="card-text">
            It is located at the height of 12,130 ft from sea level and on jeep drive from Dowarian to about 18 Kilometers. Red and Blue flowers are the best to Sight along the hike towards Ratti Gali.
             </p>                    
   </div>
   </div>
</div>

<div class="col-md-4">
    <div class="center card" style="width: 20rem;">
    <img src="/assets/img/akp2.jpg" alt="Image1" class="card-img-top">
    <div class="card-body">
        <h4 class="card-title">Mangla Fort</h4>
        <p class="card-text">Mangla Fort is an old fort but is now located just next to the main embankment of Mangla Dam. It is located on a steep cliff just next to the dam spill way.
        </p>                    
    </div>
    </div>
</div>

<div class="col-md-4">
        <div class="center card" style="width: 20rem;">
        <img src="/assets/img/akp3.jpg" alt="Image1" class="card-img-top">
        <div class="card-body">
            <h4 class="card-title">Mazar Miran Mir Sarkar</h4>
            <p class="card-text">The shrine of the Sufi saint, Hazrat Miran Mir Sarkar, is a unique place in many way. It is a holy place for the locals since centuries and lot of people visit the shrine every year even nowadays.
                  </p>                    
        </div>
        </div>
    </div>
</div>
    </div>
</div>

<!-- Kashmir Shopping Malls -->
<div class="packages">
<div class="container text-center">
<h2 class="heading-2">Kashmir Shopping Malls</h2> 
<p class="para">
If you are a shopaholic and you have never had the chance to wander through the busy marketplaces of Kashmir then trust us when we say that you have been missing out on everything. So, here is a quick peek at some of the best shopping markets in Kashmir to help you get out and about. 
</p>               

<div class="row justify-content-center text-center">
<div class="col-md-4">
<div class="center card" style="width: 20rem;">
<img src="/assets/img/aks1.jpg" alt="Image1" class="card-img-top">
<div class="card-body">
   <h4 class="card-title">De Pashmina Emporium</h4>
   <p class="card-text">
    It is Kashmir’s largest and most innovatively planned shopping complex with a majestic structure overall.Visit us to get the real feel of Cashmere Fabric and get your eyes pleased with beautiful handmade carpets.

         </p>                    
</div>
</div>
</div>

<div class="col-md-4">
<div class="card center" style="width: 20rem;">
<img src="/assets/img/aks2.jpg" alt="Image1" class="card-img-top">
<div class="card-body">
    <h4 class="card-title">Evergreen Arts Emporium</h4>
    <p class="card-text">this shop which is located in the main Leh market. They have a decent collection of Kashmir shawls and traditional Tibetan jewellery. Different types of interesting Tibetan masks can be found here along with wall-hangings.
          </p>                    
</div>
</div>
</div>

<div class="col-md-4">
    <div class="card center" style="width: 20rem;">
    <img src="/assets/img/aks3.jpg" alt="Image1" class="card-img-top">
    <div class="card-body">
        <h4 class="card-title">Pashmina House</h4>
        <p class="card-text">If you are visiting leh and want to take some beautiful gift for your dear , then this is the shop. It has large collection of beautiful pashmina. Warning : Visit only if you have pocket full of money, as you will start liking all the collection.
              </p>                    
    </div>
    </div>
</div>
</div>
</div>
</div>
<!-- Buttons -->
<div class="container center justify-content-center text-center">
<a href="register.html"><input type="button" value="Register - To Click Here"  class="btn btn-danger form-control"></a> 
</div>

<footer>
<div class="section-5 text-center">
    <h4 style="margin-top:5%;">“The journey is the destination.”</h4>
    <h4 class="my-2">If you need any Help</h4>

    <div class="form-inline justify-content-center">
        <input type="text" name="Email" id="Email" placeholder="Write a questions here?" size="36" class="form-control px-4 py-2">
        <a href="Contact US.html"><input type="button" value="Submit"  class="btn btn-danger px-4 py-2 ml-2"></a>
    </div>

    <div class="social" style="margin:5%;">
    <div class="d-flex flex-row justify-content-center">
        <i class="fab fa-facebook-f m-2"></i>
        <i class="fab fa-twitter m-2"></i>
        <i class="fab fa-instagram m-2"></i>
        <i class="fab fa-youtube m-2"></i>
    </div>
    </div>

    <hr>
    <h5 style="color:lightseagreen">HELLO Tourism &copy;</h5>
</div>
</footer>

<script src="js/jquery-3.3.1.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/scrollreveal.min.js"></script>
<script src="js/swiper.min.js"></script>
<script src="main.js"></script>
<script>
window.sr =ScrollReveal({duration : 1000});
sr.reveal('.site-content .d-flex');
sr.reveal('.section-1 .card');
sr.reveal('.section-2 .d-flex');
sr.reveal('.section-5, col-md-4');
var swiper = new Swiper('.swiper-container', {
effect: 'coverflow',
grabCursor: true,
centeredSlides: true,
slidesPerView: 'auto',
coverflowEffect: {
rotate: 50,
stretch: 0,
depth: 100,
modifier: 1,
slideShadows : true,
},
pagination: {
el: '.swiper-pagination',
},
});

</script>
