
@import url('https://fonts.googleapis.com/css?family=Lato|Pacifico|Righteous|Roboto+Condensed|Ubuntu');
*{
    padding: 0%;
    margin: 0%;
}
body{
    font-family: 'Lato';
}
/* Navbar */
.navbar-brand{
    font-family: 'Pacifico';
    font-size: 22px;
    color: lightcoral !important;
}
.nav-link{
    font-size: 16px;   
    margin-left: 15px;
    color: black !important;
    font-family: 'Roboto Condensed';
}
.nav-link:hover{
    color: #00E8E8 !important;
}
.active .nav-link{
    color: #00E8E8 !important;
}
.collapse img{
margin-left: 30%;
}
/* Top Picture */
#one{
    background-image: url('b3.jpg');
    background-attachment: fixed;
    background-size: cover;
}
#one .site-title, .site-desc{
    color: white;
    font-family: 'Righteous';
}
.site-title{
    margin-top: 30%;
    margin-bottom: 5%;
    font-size: 40px;
}
.site-desc{
    font-size: 14px;
    padding-left: 15%;
}
.site-btn1{
    margin-left: 30%;
    background-color: white;
    color: black;
    margin-top: 95%;
    margin-bottom: 40%;
}
/* Team Members */
.content-5 .row{
    margin-top: 4%;
}
.content-5 .member-1 .rafay{
    margin: 20px 0px;
}
.content-5 .circle{
    border-radius: 100px;
    width: 35%;
    padding-top: 35px;
    position: relative;
    z-index: 4;
}
.content-5 .talha span::after{
    content: "";
    width: 90%;
    height: 100px;
    background-color: #EDF2F4;
    position: absolute;
    display: block;
    top: 3px;
    z-index: 0;
}
.content-5 .member-1 .desc .info{
    padding: 8%;
    font-size: 14px;
}
.content-5 .social-icon{
    padding: 4%;
    background-color: #EDF2F4;
}
.content-5 .social-icon span{
    border: 1px solid rgba(123, 123, 123, 0.2);
    padding: 4px 8px;
    border-radius: 40px;
    cursor: pointer;
    transition: all 500ms ease;
}
/* <!-- Contact US Through Phone, Address --> */
.content-6{
    margin-bottom: 5%;
}
.content-6 .contact span{
    color: #EF233C;
}
.content-6 .btn-submit{
    /* background-color: #EF233C;
    color: white; */
    cursor: pointer;
}
/* .footer */
.social i{
    color: #EF5651;
    font-size: 20px;
}
/* Animation */
.content-5 .social-icon span:hover{
    background-color: #E30022;
    color: white;
}