

<div class="slider text-center">
    <h2 class="heading-2">It's Time to Explore</h2>
<div class="container row justify-content-center text-center py-2">
     
<div id="carousel" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
  <div class="carousel-item active">
    <img class="d-block w-85" src="/assets/img/s1.jpg" alt="First slide">
  </div>
  <div class="carousel-item ">
    <img class="d-block w-85" src="/assets/img/s2.jpg" alt="First slide">
  </div>
  <div class="carousel-item ">
    <img class="d-block w-85" src="/assets/img/s3.jpg" alt="First slide">
  </div>
  <div class="carousel-item ">
    <img class="d-block w-85" src="/assets/img/s4.jpg" alt="First slide">
  </div>
  <div class="carousel-item ">
    <img class="d-block w-85" src="/assets/img/s5.jpg" alt="First slide">
  </div>
  <div class="carousel-item ">
    <img class="d-block w-85" src="/assets/img/s6.jpg" alt="First slide">
  </div>
  <div class="carousel-item ">
    <img class="d-block w-85" src="/assets/img/s7.jpg" alt="First slide">
  </div>
  <div class="carousel-item ">
    <img class="d-block w-85" src="/assets/img/s8.jpg" alt="First slide">
  </div>
  <div class="carousel-item ">
    <img class="d-block w-85" src="/assets/img/s9.jpg" alt="First slide">
  </div>
  <div class="carousel-item ">
    <img class="d-block w-85" src="/assets/img/s10.jpg" alt="First slide">
  </div>
  <div class="carousel-item ">
    <img class="d-block w-85" src="/assets/img/s11.jpg" alt="First slide">
  </div>
  <div class="carousel-item ">
    <img class="d-block w-85" src="/assets/img/s12.jpg" alt="First slide">
  </div>
  <div class="carousel-item ">
    <img class="d-block w-85" src="/assets/img/s13.jpg" alt="First slide">
  </div>
  <div class="carousel-item ">
    <img class="d-block w-85" src="/assets/img/s14.jpg" alt="First slide">
  </div>
  <div class="carousel-item ">
    <img class="d-block w-85" src="/assets/img/s15.jpg" alt="First slide">
  </div>
  <div class="carousel-item ">
    <img class="d-block w-85" src="/assets/img/s16.jpg" alt="First slide">
  </div>
  <div class="carousel-item ">
    <img class="d-block w-85" src="/assets/img/s17.jpg" alt="First slide">
  </div>
  <div class="carousel-item ">
    <img class="d-block w-85" src="/assets/img/s18.jpg" alt="First slide">
  </div>
  <div class="carousel-item ">
    <img class="d-block w-85" src="s19.jpg" alt="First slide">
  </div>
  <div class="carousel-item ">
    <img class="d-block w-85" src="s20.jpg" alt="First slide">
  </div>
  <div class="carousel-item ">
    <img class="d-block w-85" src="s21.jpg" alt="First slide">
  </div>
  <div class="carousel-item ">
    <img class="d-block w-85" src="s22.jpg" alt="First slide">
  </div>
  <div class="carousel-item ">
    <img class="d-block w-85" src="s23.jpg" alt="First slide">
  </div>
  <div class="carousel-item ">
    <img class="d-block w-85" src="s24.jpg" alt="First slide">
  </div>
  <div class="carousel-item ">
    <img class="d-block w-85" src="s25.jpg" alt="First slide">
  </div>
  <div class="carousel-item ">
    <img class="d-block w-85" src="s26.jpg" alt="First slide">
  </div>
  <div class="carousel-item ">
    <img class="d-block w-85" src="s27.jpg" alt="First slide">
  </div>
  <div class="carousel-item ">
    <img class="d-block w-85" src="s28.jpg" alt="First slide">
  </div>
  <div class="carousel-item ">
    <img class="d-block w-85" src="s29.jpg" alt="First slide">
  </div>
  <div class="carousel-item ">
    <img class="d-block w-85" src="s30.jpg" alt="First slide">
  </div>
  <div class="carousel-item ">
    <img class="d-block w-85" src="s31.jpg" alt="First slide">
  </div>
  <div class="carousel-item ">
    <img class="d-block w-85" src="s32.jpg" alt="First slide">
  </div>
  <div class="carousel-item ">
    <img class="d-block w-85" src="s33.jpg" alt="First slide">
  </div>
  <div class="carousel-item ">
    <img class="d-block w-85" src="s34.jpg" alt="First slide">
  </div>
  <div class="carousel-item ">
    <img class="d-block w-85" src="s35.jpg" alt="First slide">
  </div>
  <div class="carousel-item ">
    <img class="d-block w-85" src="s36.jpg" alt="First slide">
  </div>
  <div class="carousel-item ">
    <img class="d-block w-85" src="s37.jpg" alt="First slide">
  </div>
  <div class="carousel-item ">
    <img class="d-block w-85" src="s38.jpg" alt="First slide">
  </div>
  <div class="carousel-item ">
    <img class="d-block w-85" src="s39.jpg" alt="First slide">
  </div>
  <div class="carousel-item ">
    <img class="d-block w-85" src="s40.jpg" alt="First slide">
  </div>

</div>



<div class="container justify-content-center text-center">
<h1 class="heading-1">
Explore Pakistan
</h1>
<p class="para">
Pakistan is the land of the Indus River, which flows through the country for 1,600 miles; from the Himalayan Mountains to the Arabian Sea. It is a land of snow covered peaks and burning deserts, of fertile mountain valleys and irrigated plains. Created in 1947 as a homeland for the Muslims of the Indian subcontinent, Pakistan is inhabited by some 200 million people speaking over 20 different, each with their own unique culture, yet all united by the Islamic faith.
<br><br>
The Land of the Pure (English translation of the word “Pakistan”) is strategically placed on the crossroads of Asia, where the silk roads from China to the Mediterranean meet the routes from India and Central Asia. For thousands of years this junction has been a melting pot of diverse cultures, attracting traders and adventurers, pilgrims and holy men, helping create a deep and ancient cultural base.
</p>
<div class="container justify-content-center text-center">
</div>
<div class="embed-responsive embed-responsive-21by9">
<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PUAtYiRtRMI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>


<footer>
<div class="section-5 text-center">
<h4 style="margin-top:5%;">“The journey is the destination.”</h4>
<h4 class="my-2">If you need any Help</h4>

<div class="form-inline justify-content-center">
    <input type="text" name="Email" id="Email" placeholder="Write a questions here?" size="36" class="form-control px-4 py-2">
    <a href="Contact US.html"><input type="button" value="Submit"  class="btn btn-danger px-4 py-2 ml-2"></a>
</div>

<div class="social" style="margin:5%;">
<div class="d-flex flex-row justify-content-center">
    <i class="fab fa-facebook-f m-2"></i>
    <i class="fab fa-twitter m-2"></i>
    <i class="fab fa-instagram m-2"></i>
    <i class="fab fa-youtube m-2"></i>
</div>
</div>

<hr>
<h5 style="color:lightseagreen">HELLO Tourism &copy;</h5>
</div>
</footer>

<script src="js/jquery-3.3.1.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/scrollreveal.min.js"></script>
<script src="js/swiper.min.js"></script>
<script src="main.js"></script>
<script>
window.sr =ScrollReveal({duration : 1000});
sr.reveal('.site-content .d-flex');
sr.reveal('.slider');
sr.reveal('.section-2 .d-flex');
sr.reveal('.section-5, col-md-4');
var swiper = new Swiper('.swiper-container', {
effect: 'coverflow',
grabCursor: true,
centeredSlides: true,
slidesPerView: 'auto',
coverflowEffect: {
rotate: 50,
stretch: 0,
depth: 100,
modifier: 1,
slideShadows : true,
},
pagination: {
el: '.swiper-pagination',
},
});

</script>